
.name {
  display: inline;
  cursor: pointer;
  color: rgba(58, 20, 181, 0.494);
}
.header {
  text-align: center;
  padding: 1.5rem 0;
}
.wrapper {
  padding: 0 1rem;
}
.accordion-item-img {
  display: block;
  width: 0;
  height: 0;
  opacity: 0;
  transition: 1s;
  margin: 0 auto;
}
input:checked ~ .accordion-item-img {
  width: 100%;
  height: 100%;
  opacity: 1;
  padding-bottom: 1rem;
}
.tab-sign {
  width: 0.4rem;
  height: 0.4rem;
  border: 0.2rem solid rgb(72, 140, 35);
  border-radius: 50%;
  transition: opacity 0.5s;
}
.accordion-item-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1.4rem 0;
  border-top: 0.1rem solid black;
}
h2 {
  margin: 0;
  font-size: 1rem;
  color: rgba(72, 140, 35, 0.737);
  font-family: 'Righteous', cursive;
  transition: 0.5s;
}
h1 {
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Righteous', cursive;
}
.accordion-container {
  background-color: #faebd7;
  border-radius: 0.7rem;
  padding: 1rem 1rem 0rem 1rem;
}
.lab1 {
  cursor: pointer;
}
.lab1:active  {
opacity: 0.5;
transition: 0.3s;
}
.lab1 > input {
  display: none;
}
input:checked ~ .accordion-item-menu .accordion-item-name {
  color: black;
}
input:checked ~ .accordion-item-menu .tab-sign {
  border-radius: 0;
  border-top: 0.2rem solid black;
  border-right: 0.2rem solid black;
  border-left: 0rem;
  border-bottom: 0rem;
  transform: rotate(135deg);
  margin-right: 0.1rem;
  margin-top: -0.3rem;
  width: 0.4rem;
  height: 0.4rem;
  transition: transform 0.5s;
}
@media screen and (min-width: 700px) and (max-width:1000px) {

  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  .accordion-container {
    padding: 3rem 3rem 2rem 3rem;
  }
  .wrapper {
    padding: 0 1rem;
  }
  input:checked ~ .accordion-item-menu .tab-sign {
    border-radius: 0;
    border-top: 0.4rem solid black;
    border-right: 0.4rem solid black;
    border-left: 0rem;
    border-bottom: 0rem;
    transform: rotate(135deg);
    margin-right: 0.2rem;
    margin-top: -0.6rem;
    width: 0.8rem;
    height: 0.8rem;
  }
  .header {
    text-align: center;
    padding: 3rem 0;
  }
  .tab-sign {
    width: 0.8rem;
    height: 0.8rem;
    border: 0.4rem solid rgb(72, 140, 35);
  }
}
@media screen and (min-width: 1300px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.9rem;
  }
  input:checked ~ .accordion-item-menu .tab-sign {
    border-radius: 0;
    border-top: 0.4rem solid black;
    border-right: 0.4rem solid black;
    border-left: 0rem;
    border-bottom: 0rem;
    transform: rotate(135deg);
    margin-right: 0.2rem;
    margin-top: -0.6rem;
    width: 0.8rem;
    height: 0.8rem;
    transition: 0.5s;
  }
  .tab-sign {
    width: 0.8rem;
    height: 0.8rem;
    border: 0.4rem solid rgb(72, 140, 35);
  }
  .accordion-container {
    padding: 3.5rem 3.5rem 2.5rem 3.5rem;
  }
  .wrapper {
    padding: 0 20rem;
  }
  .tab-sign {
    opacity: 0;
    transition: opacity 0.5s;
    border: 0.4rem solid black;
  }
  .lab1:active .accordion-item-menu .accordion-item-name {
    color: rgba(72, 140, 35, 0.737);
    transition: color 0s;
  }
  .lab1:active .accordion-item-menu .tab-sign {
    border-color: rgba(72, 140, 35, 0.737);
    transition: border-color 0s;
  }
}
@media (hover: hover) {
  .lab1:hover .accordion-item-img {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 1s;
  padding-bottom: 1rem;
  }
  .accordion-container:hover .tab-sign {
    opacity: 1;
    transition: opacity 0.5s;
  }
  .accordion-container:hover .accordion-item-name {
    color: black;
    transition: color 0.5s;
  }
}
